@use "variables" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 255px 1fr 255px;
  grid-template-rows: 1fr;
  grid-template-areas: "aside main rightside";
  font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  @include respond(tablet) {
    grid-template-columns: 1fr;
    grid-template-areas: "nav " "main" "rightside";
  }
  @include respond(mobile) {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "rightside";
  }
}
nav {
  display: none;
  grid-area: nav;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.126);
  @include respond(tablet) {
    display: block;
    width: 100%;
    position: fixed;
  }
  @include respond(mobile) {
    display: block;
    width: 100%;
    position: fixed;
  }
  ul {
    display: flex;
    padding: 0.8rem 2.5rem;
    align-items: center;
    li:first-child {
      margin-right: auto;
    }
    // .profile {
    //   @include flex-center;
    //   margin-right: auto;
    //   gap: 15px;

    //   img {
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 100%;
    //   }
    //   .text {
    //     .name {
    //       margin-bottom: 1px;
    //       font-weight: bold;
    //     }
    //     .user--name {
    //       font-size: 0.75rem;
    //       color: #4e4b4bcd;
    //     }
    //   }
    // }
    // .searchInput {
    //   position: relative;

    //   label {
    //     position: absolute;
    //     font-size: 12px;
    //     margin-top: 5px;
    //     margin-left: 7px;
    //     // display: flex;
    //     // z-index: 2;
    //   }
    //   input {
    //     // display: none;
    //     border-radius: 10px;
    //     border: 1px solid #ddd;
    //     padding: 0.3rem 0.3rem 0.3rem 2rem;
    //     // margin-right: 50px;
    //     // width: 10px;
    //   }
    // }
    .add-task-openBtn {
      color: $primary-color;
      background-color: #dde1e667;
      border-radius: 100%;
      margin-right: 10px;
      padding: 5px;
      &:hover {
        color: white;
        background-color: $primary-color;
      }
    }
    .reminder-openBtn {
      i {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: #e44331;
          top: 8px;
          right: 1px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          opacity: 0;
        }
        &.active::after {
          opacity: 1;
        }
      }
    }
  }
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
hr {
  border-color: #dddddd27;
  margin: 15px 0;
}
img {
  width: 100%;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.opacity {
  opacity: 0;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.269);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    height: 4rem;
    width: 4rem;
    fill: $primary-color;
    animation: rotate 2s infinite linear;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
