@use "variables" as *;
@use "mixins" as *;
%btn {
  border-radius: 20px;
  width: 100px;
  font-weight: bold;
  padding: 10px 30px;
  border: 1px solid #7b61ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
%inputStyle {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0.5rem 0.3rem;
  width: 100%;
}
%select {
  @extend %inputStyle;
  font-size: 15px;
  color: #4e4b4bcd;
  display: flex;
  justify-content: space-between;
}
%dropdown {
  position: absolute;
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 0.5rem 8.8rem 0.3rem 0.5rem;
  width: 88px;
  margin-left: -4px;
  margin-top: 20px;

  .option {
    margin-bottom: 0.2rem;
    cursor: pointer;
    &:hover {
      color: #4e4b4baa;
    }
  }
}

.add-task {
  @include window-style();
  &-heading {
    display: inline;
    font-size: 25px;
  }
  &-closeBtn {
    border: none;
    background-color: white;
    float: right;
    font-size: 30px;
  }
  &-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "date time" "tag tag" "category reminder";
    row-gap: 13px;
    column-gap: 25px;
    padding: 0 10px;
    margin: 20px 0 30px;

    @include respond(mobile) {
      grid-template-columns: 1fr;
      grid-template-areas: "title " "date" "time" "tag" "category" "reminder";
    }

    .title {
      grid-area: title;
    }
    .date {
      grid-area: date;
    }
    .time {
      grid-area: time;
    }
    .reminder {
      grid-area: reminder;
      .dropdown-container {
        @extend %select;
        position: relative;
        .dropdown {
          @extend %dropdown;
        }
        .selected {
          color: #7b61ff;
        }
      }
    }

    .category {
      grid-area: category;
     
      .dropdown-container {
        @extend %select;
        .dropdown {
          @extend %dropdown;

          .newCategory {
            width: 200px;
            margin-top: 5px;
          }
          &:first-child {
            order: 1;
          }
        }
        .selected {
          color: #7b61ff;
        }
      }
    }

    .tag {
      grid-area: tag;
    }
    label {
      font-size: 15px;
      display: block;
      color: #4e4b4bdc;
      margin-bottom: 8px;
    }
    input {
      @extend %inputStyle;
    }
    .fa-chevron-down {
      width: 10px;
      margin-right: 10px;
    }
    .dropdown-toggle {
      transform: rotate(180deg);
    }
  }
  &-btns {
    .saveBtn {
      background-color: #7b61ff;
      color: white;
      &:hover {
        transform: scale(1.1);
      }
      margin-left: 6px;
      @extend %btn;
     
    }
    .saveBtn:disabled {
      background-color: #b8aaff61;
      color: #7b61ff;
      cursor: not-allowed;
      &:hover {
        transform: none;
      }
    }
    .cancelBtn {
      color: #7b61ff;
      background-color: white;
      @extend %btn;
      &:hover {
        transform: scale(1.1);
      }
    }
  
  }
}
