@use "variables" as *;
@use "mixins" as *;

.rightside {
  grid-area: rightside;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/photo_2025-08-15_20-41-17.jpg");
  background-size: cover;

  @include respond(tablet) {
    background-image: none;
  }
  @include respond(mobile) {
    background-image: none;
  }

  .pomodoro-timer {
    margin-top: 2.1875rem;
    padding: 0 1rem 1rem 1rem;
    .section-title {
      text-align: center;
    }

    .timer-circle {
      width: min(60vw, 200px);
      aspect-ratio: 1 / 1;
      margin: 1.8rem auto 0;
      position: relative;
      @include respond(tablet) {
        width: min(40vw, 450px);
        margin: 2.5rem auto 2rem;
      }
      svg {
        pointer-events: none;
        width: 100%;
        height: 100%;
        display: block;
        transform: rotate(-90deg);
      }

      circle {
        fill: none;
        stroke-width: 7;
        stroke-linecap: round;
      }

      .bg {
        stroke: #eee;
      }

      .progress {
        stroke: $primary-color;
        stroke-dasharray: 565.48;
        stroke-dashoffset: 565.48;
        transition: stroke-dashoffset 0.4s linear;
        transform-origin: 50% 50%;
      }

      .time {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        font-weight: 700;
        font-size: 2.2rem;
        z-index: 100;
        @include respond(tablet) {
          font-size: 9vw;
        }
      }
    }

    .start-pause-btn {
      display: block;
      width: 100px;
      margin: 0.6rem auto 0;
      background: $primary-color;
      color: white;
      border-radius: 20px;
      padding: 8px 30px;
      border: 1.5px solid $primary-color;
      font-weight: bold;
      @include card-shadow;
      transition: 0.2s;
      &:hover {
        background: white;
        color: $primary-color;
      }
      @include respond(tablet) {
        font-size: 30px;
        padding: 10px 40px;
      }
    }

    .reset-btn {
      display: block;
      margin: 0.8rem auto 0;
      background: transparent;
      border: none;
      font-size: 0.95rem;
      @include respond(tablet) {
        font-size: 30px;
        margin-top: 1.5rem;
      }
    }
  }
  .quote-card {
    background-color: white;
    border-radius: 8px;
    padding: 0.8rem 0.8rem 1rem;
    margin: 15% auto;
    width: 190px;
    @include card-shadow;
    border-top: 20px solid $primary-color;
    @include respond(tablet) {
      width: 360px;
      font-size: 35px;
      border-top-width: 30px;
    }
    .quote-title {
      margin-bottom: 3px;
    }
    .quote-icon {
      color: #ddd;
    }
  }
}
