@mixin card-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.055);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin window-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  border-radius: 8px;
  padding: 1rem 1.7rem 1.5rem;
  background-color: white;
  @include respond(mobile) {
    max-width: 70%;
    margin-top: 25px;
  }
}
@mixin task-card-style($color) {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 10px;
  width: fit-content;

  background: linear-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  border-radius: 1rem;
  overflow: visible;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  &::before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    z-index: 2;
  }
  &::after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: linear-gradient(lighten($color, 15%), darken($color, 5%));
    transition: transform 300ms ease;
    z-index: 4;
    &:hover {
      transform: translateX(0.15rem);
    }
  }

  .task-title {
    color: $color;
    padding: 0rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;

    ul {
      display: flex;
      justify-content: flex-end;
      li {
        &:first-child {
          margin-right: auto;
        }
        i {
          margin-right: 5px;
        }
        .complete,
        .fa-trash {
          color: #ddd;
          font-size: 0.9rem;

          margin-right: 8px;
          cursor: pointer;
        }
        .complete {
          margin-left: 15px;
          &:hover {
            color: #78eba2;
          }
        }
      }
    }
  }

  .task-desc {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
    line-height: 1.6;
  }

  .task-tag {
    background-color: #4e4b4b14;
    color: #4e4b4b99;
    width: fit-content;
    border-radius: 5px;
    padding: 0 0.5rem 0 0.2rem;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media (max-width: 1024px) and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint==mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
}
